[2012-04-06 06:41] leggetter opened #4 "Content-Type header should be set to application/json"
Without this content-type being set the REST API may not process the request correctly e.g. % characters can cause an empty response to be returned and result in the request not being processed.

Header can be set here: https://github.com/pusher/pusher_client_python/blob/master/pusher/__init__.py#L69

[2012-04-16 23:17] #4 closed, assigned to nobody

[2012-04-19 21:42] saschwarz opened #6 "Support for python 2.4"
Python 2.4 doesn't have hashlib and its version of hmac aren't compatible with this package. Here's the traceback that is generated:

  File ".../pusher/**init**.py", line 55, in trigger
    status = self.send_request(self.signed_query(event, json_data, socket_id), json_data)
  File ".../pusher/**init**.py", line 68, in signed_query
    signature = hmac.new(self.pusher.secret, string_to_sign, sha_

[2012-04-23 12:11] pg1671 opened #8 "publish 0.6 to pypi"
the latest install instructions will only install the latest version on pypi which is 0.5.

[2012-04-25 15:21] #8 closed, assigned to nobody

[2012-04-28 16:58] #6 closed, assigned to nobody

[2012-08-08 19:08] sivy opened #10 "Mocking __getitem__ on Pusher"
I'm working on stubbing two parts of the Pusher API so that my unit tests don't actually shove data down the pipe, and so that I can confirm that Pusher is being called with the right data during various operations.

I'm using unittest2 and Mock (<http://www.voidspace.org.uk/python/mock/>):

[code]

As a debug help, I edited `pusher/__init__.py` to let me know when Pusher.\_\_getitem__ has been ca

[2013-03-20 17:46] dwightgunning opened #14 "Channel.trigger no longer returns 202 (now 200 OK)"
According to the REST API documentation, the Channel.trigger() function should now expect a 200 OK response (rather than the older 202 which has been deprecated).

Are you guys accepting pull requests?

[2013-03-22 06:27] #14 closed, assigned to nobody

[2013-04-26 11:31] cultureulterior opened #17 "Null & zero-length app string gets translated into a send to /apps/None/"
Should probably throw an exception before sending, since it cannot be valid

[2013-04-26 11:32] cultureulterior opened #18 "Zero-length channel string is still sent"
to channels//events
In fact, we blindly stringify channels- is this a good idea? E.g p[None] gets sent as /channels/None/
Also, we don't do anything about slashes included in the string, e.g p["//"] will still be sent.
In my opinion, we should pre-enforce correct urls via regexp

[2013-09-09 18:58] jorilallo opened #23 "BadStatusLine errros"
Recently I started getting `BadStatusLine` errors. Here's the traceback:

[code]

[2013-11-25 05:12] mulka opened #25 "Tornado example is broken"
Getting an error when trying to run the Tornado example:
TypeError: send_request() got an unexpected keyword argument 'timeout'

Only modification was to change the app_id, key, and secret.

[2013-11-25 15:09] #25 closed, assigned to nobody

[2014-03-29 17:40] rosscdh opened #28 "https?"
Hi there, any reason why the codebase seems to default and be enforced via assert to http? and not https?

regards
Ross

[2014-04-09 17:42] whardier opened #29 "timeout kwarg needs to be added to extra channels"
Simple change to the code, adding timeout=None to send_request in the TornadoChannel got it up to snuff enough to work fine.

[2014-08-26 07:00] mulka opened #32 "python 3 support?"
please?

[2014-12-13 05:43] whatsdis opened #35 "UnexpectedReturnStatusError"
File "./job.py", line 267, in queue_next_job
    p[str(job.id)].trigger('progress', {'status':'Running', 'jobid':str(job.id)})
  File "/usr/local/lib/python2.7/dist-packages/pusher/**init**.py", line 78, in trigger
    raise UnexpectedReturnStatusError("Status: %s; Message: %s" % (status, resp_content))
pusher.UnexpectedReturnStatusError: Status: 200; Message: {}

I am using the python client (pip

[2014-12-29 09:34] whatsdis opened #36 "Client is no longer working with latest slanger"
I am getting no more errors about websocket. ping-pong is appearing, however it appears that the python client when using this with slanger (https://github.com/stevegraham/slanger)

https://github.com/pusher/pusher_client_python

does not appear to be sending messages to slanger anymore or the messages are no longer going through. In verbose mode nothing registers when I manually push a message. I

[2014-12-29 09:35] #36 closed, assigned to nobody

[2015-02-11 17:44] mrhwick commented on #32
It appears that Python 3 support is now restored for this library. Would it be possible for you to create a new version of the package for installation with this included?

[2015-02-20 15:19] jpatel531 opened #39 "GAE urlfetch"
The behaviour of urlfetch will be changed from April 2015. This will need to be taken account of

[2015-02-23 11:09] jpatel531 commented on #39
"Dear URL Fetch users,

We’re contacting you because you’re listed as the administrator for your organization’s App Engine application, which uses the URL Fetch service. During the phased rollout of an update to this service, we determined that your application may be affected by the change described below.

Currently, the URL Fetch service preserves your original HTTP method (e.g., GET, POST) whe

[2015-03-01 01:39] pcsforeducation commented on #32
+1, this is the last library between me and switching to Python 3.4.

[2015-03-23 09:48] robertaistleitner opened #40 "Trigger Multichannel support"
Has anyone already tackled the problem with missing multichannel trigger support? It's already present in other pusher clients but I think due to the Python clients architecture this is more than a one-liner.. (as opposed to the others)

Your answers are appreciated,
Robert

[2015-03-23 10:19] leggetter commented on #40
@robertaistleitner We're in progress of recommending https://github.com/pusher/pusher-http-python over this library.

It already support triggering the same event on multiple channels.

Do you have a hard requirement on using this library?

[2015-03-23 10:23] robertaistleitner commented on #40
@leggetter Thanks for your very fast answer!

I've chosen this library because the other one is alpha and I need it for a production environment.. I'm kind of cautious when choosing alpha libraries.. ;)

I think I'll give it a try and read some code if it looks promising to me.

Thanks for your help!

[2015-03-23 10:38] leggetter commented on #40
@robertaistleitner Understood.

We're actively doing some work on the other lib for an upcoming feature. So if you have any questions at all or see any problems please just post an issue to the repo.

[2015-03-23 10:38] #40 closed

[2015-03-26 09:28] kongakong commented on #39
What is the latest status?

[2015-04-09 07:11] kongakong commented on #39
I am not sure if it is going to be a problem...

My target platform is GAE so I have to use python 2.7.x

When I run `python setup.py install`, I got this error message

      copying build/lib/pusher/util.py -> build/bdist.macosx-10.10-x86_64/egg/pusher
      byte-compiling build/bdist.macosx-10.10-x86_64/egg/pusher/__init__.py to __init__.pyc
      byte-compiling build/bdist.macosx-10.10-x86_64/

[2015-04-09 17:50] zimbatm commented on #39
Hi @kongakong, do you mind testing the "run-with-it" branch ? I'm still working on the library to make a 1.0 release, if we can get GAE support in it it would be great.

[2015-04-09 17:50] zimbatm commented on #39
See #45

[2015-04-17 01:57] kongakong commented on #39
@zimbatm  Do not have much luck so far.

Let's see if you have any suggestion.

It is my original version (using pusher_client_python):

        if socket_id:
            params['socket_id'] = socket_id

         p[channel_name].trigger('event', json.dumps(data), **params)

With the `run-with-it` branch I changed the above to

     p.trigger(channel_name, 'event', json.dumps(data), socket_id=socke

[2015-04-17 09:36] zimbatm commented on #39
Thanks for testing it out @kongakong.

I've read the original Google announcement. We don't use HTTP redirects at all in our API with means that the current stable client library will keep working after the 25th of April.

'Permission denied' is a system-level error which is usually associated with file access. I think Google is blocking socket connections on the system level. It means that the "r

[2015-04-17 09:38] zimbatm commented on #39
According to the stackoverflow link new versions of requests and urllib3 might have fixed the problem so that's one thing you could try. Also if you can list your python version and dependencies version it could be useful when I come around to continue work on the library.

[2015-04-23 04:43] kongakong commented on #39
@zimbatm Thanks a lot for the confirmation! It is a good news.

I actually have some follow-up questions regarding transition from pusher_client_python to pusher-http-python. I don't think github issues is a right forum for this kind of discussion. What is the best way to move this discussion forward?

[2015-04-23 09:10] zimbatm commented on #39
I don't mind keeping the discussion on github. To avoid being too out of topic with this issue you can open a new one with your specific topic in mind. Or otherwise contact [support](https://support.pusher.com/hc/en-us) and ask for me so they can route the ticket to me.

[2015-04-24 22:09] jpatel531 commented on #39
Hey @kongakong ! I've just tested out the new URLFetchBackend (added today) with GAE and it seems to work fine. It's on branch 1.0.0 - if you have time to check it out I'd like to get your thoughts :)

[2015-04-25 15:56] iurisilvio opened #47 "JSON encoder is necessary"
The `pusher_client_python` had a configuration to a custom json encoder. This new module does not provide this feature.

[2015-04-25 18:05] jpatel531 commented on #32
Version 1.0.0 (now on the master branch) now has support for python 3

[2015-04-25 18:05] #32 closed

[2015-04-25 18:20] pcsforeducation commented on #32
Awesome! Thanks!

[2015-04-26 03:27] iurisilvio commented on #28
This issue has a merged pull request and probably does not make sense anymore. The default is already HTTPS.

[2015-04-26 13:28] zimbatm commented on #28
agreed

[2015-04-26 13:28] #28 closed

[2015-05-07 12:49] jpatel531 commented on #47
Your PR has been merged and is now in version 1.1.0 :)

[2015-05-07 12:49] #47 closed

[2015-05-14 19:59] chipkellam opened #52 "Getting an error from aiohttp.py when installing with pip"
Python version: 2.7.3

Issued: pip install pusher==1.1.3

Error:

[code]

[2015-05-14 22:27] zimbatm commented on #39
Closing for now, please re-open if any issue arises.

[2015-05-14 22:27] #39 closed

[2015-05-14 22:30] zimbatm commented on #29
Can you expand on that a bit ? I don't really understand what you're referring to.

[2015-05-14 22:31] zimbatm commented on #18
1.0+ validates the type of the channel on trigger

[2015-05-14 22:31] #18 closed

[2015-05-14 22:33] zimbatm commented on #17
app_id is validated during construction in 1.0

[2015-05-14 22:33] #17 closed

[2015-05-14 22:35] zimbatm commented on #10
1.0 should be much easier to mock. A custom backend could be provided that simulates HTTP requests and responses accordingly.

[2015-05-14 22:35] #10 closed

[2015-05-14 22:36] zimbatm commented on #23
1.0 is now using requests as a backend by default which should be much more reliable. Feel free to re-open if you're seeing the issue again obviously.

[2015-05-14 22:39] zimbatm commented on #52
@jpatel531 looks like we're still having issues with python 3.0 aio :/ I wonder why pip tries to load that file.

[2015-05-16 14:39] jpatel531 commented on #52
i'm not too sure either - it seems to be working fine on different machines and version i use. i'll look into it

[2015-05-18 16:19] zimbatm commented on #52
With python 2.6.7:
[code]

[2015-05-18 16:22] zimbatm commented on #52
@chipkellam can you give us your version of pip ?

[2015-05-18 18:27] chipkellam commented on #52
Currently using v1.5.2.

On May 18, 2015 at 12:22:40 PM, zimbatm (notifications@github.com) wrote:

@chipkellam can you give us your version of pip ?

—
Reply to this email directly or view it on GitHub.

[2015-05-18 18:35] zimbatm commented on #52
Same, I had missed that too previously. I suppose pip is pre-compiling all the python code in the repo and hitting that file at some point. I'm not really sure how we could work around the issue without separating the file into a different package.

[2015-05-18 21:22] kongakong opened #54 "Problem with google app engine"
I am trying out the latest `master` branch.

First of all, there seems to be a syntax/api issue with  UrlfetchBackend.py

[code]

I applied the above patch to get it to run.

Now there is no more runtime exception. Based on my application log I can see I can send message to the pusher server. However my pusher clients (written in javascript) are not receiving any message.

Any suggestion?

 I woul

[2015-05-18 21:38] jpatel531 commented on #54
Hi there - thanks for bringing this to our attention - you can check on your debug console on app.pusher.com to see if there's any messages coming through.

What error messages are you messages with the previous syntax?

[2015-05-18 21:41] jpatel531 commented on #52
@zimbatm - would it be too hacky to rescue the error for python versions < 3 ? otherwise i think separating out *might* be the way to go

[2015-05-18 21:54] jpatel531 commented on #54
As far as I'm aware urlfetch and GAE urlfetch used the same transports - I only used urlfetch with this library (and of course tested it out with GAE) as I thought it would be easier for testing and CI. But I should probably reconsider!

[2015-05-27 04:39] powerspowers commented on #54
To get this to work in GAE with python 2.7 I had to do three things:

After the above I was able to get this included and successfully send and receive messages on Pusher!

[2015-05-28 23:28] jpatel531 commented on #52
This looks like a duplicate of https://github.com/benoitc/gunicorn/issues/788 , https://github.com/benoitc/gunicorn/issues/810 , and https://github.com/benoitc/gunicorn/issues/871

It might need an upgrade to the latest version of pip. I'll make a note about this on the README

[2015-05-29 08:46] jpatel531 commented on #54
Hey, version 1.2.0 should have made this fix! Also now the HTTP adapter has been renamed to `pusher.gae.GAEBackend` --- let me know if there are any outstanding issues

[2015-05-30 20:33] powerspowers commented on #54
The fetch changes work. What should I do about six.py which is not part of GAE. I have not been able to find the canonical version of it to include. Its also used in only 5 locations in your library so it might be better just to include the types in your code rather than require another 3rd party dependency.

[2015-05-30 21:50] zimbatm commented on #54
Which method are you using to install the package ? I think that `pip` or `easy_install` would fetch the associated dependency.

[2015-05-30 22:39] powerspowers commented on #54
This is on Google App Engine and I am not sure they enable installers - you have to just move over new files as needed if they are not there already - they include many of the Django libs and such but not six

[2015-06-01 18:59] dsapikas opened #59 "cacert.py"
As i informed you in person, when i installed the library (not sure if it was from pip or easy_install), i got an error for missing the file "cacert.py", when i copied it from this repository, worked just fine.

[2015-06-02 11:08] vetal4444 commented on #59
Did you mean?

    lib/python3.4/site-packages/pusher/cacert.pem

If yes, I confirm this. Install package with

    pip install pusher

[2015-06-02 11:18] zimbatm commented on #29
Closing for now until it can be reproduced

[2015-06-02 11:18] #29 closed

[2015-06-03 22:36] tgwizard commented on #59
I just installed pusher via pip and now I get this error:

[code]

[2015-06-03 22:39] tgwizard commented on #59
And setting `ssl=False` when creating the `Pusher` client makes it work, but that I don't want to do :disappointed:.

[2015-06-03 22:47] #59 closed

[2015-06-03 22:52] jpatel531 commented on #59
I just published 1.2.1, which resolves this. Thanks again @dsapikas  for bringing this up!

[2015-06-03 22:57] jpatel531 commented on #54
@powerspowers does vendoring the six package resolve any issues? I'm fairly new to GAE, and have only vendored dependencies (when testing the library on GAE, six was included within the vendor directory) - is there an alternative I should be aware of?

[2015-07-16 19:06] lordphoenix opened #64 "Pusher 1.2.3 not working on Heroku"
Hello,

I have used Pusher 1.0.0 on Heroku and it work very well but, when I attempt to upgrade Pusher to 1.2.3. The deploys started failing after that with the following message:

[code]

[2015-07-17 08:42] zimbatm commented on #64
Hi, do you use a requirements.txt file to list your dependencies ? If so, try adding cffi to the list.

[2015-07-17 08:42] zimbatm commented on #64
See https://coderanger.net/heroku-cffi/

[2015-07-17 10:06] lordphoenix commented on #64
@zimbatm Thank you. It's work.

[2015-07-17 10:06] #64 closed

[2015-08-08 16:55] MadSpindel opened #65 "ImportError: No module named ndg.httpsclient.ssl_peer_verification"
I get the following on a Ubuntu server:

    pusher = Pusher(app_id=settings.PUSHER_APP_ID, key=settings.PUSHER_KEY, secret=settings.PUSHER_SECRET)
      File "/usr/local/lib/python2.7/dist-packages/pusher/pusher.py", line 42, in __init__
    from pusher.requests import RequestsBackend
      File "/usr/local/lib/python2.7/dist-packages/pusher/requests.py", line 12, in <module>
    import urllib3.c

[2015-08-08 17:44] MadSpindel commented on #65
Updating pyOpenSSL and/or urllib3 and rebooting the server fixed the error.

[2015-08-08 17:44] #65 closed

[2015-11-24 12:26] IshaanChawla opened #66 "Pusher Not importing in Django"
I installed pusher-http-python package with pip.

The sample code provided on pusher website runs from the shell. Hence i know, it has got installed properly.

But when i try importing pusher into my django view, it raise an IMPORT ERROR : cannot import name Pusher

thanks in advance,
Ishaan

[2015-11-24 14:48] #66 closed

[2015-12-07 23:06] jpatel531 opened #67 "OpenSSL on Ubuntu"
ImportError: python2.7/site-packages/cryptography/hazmat/bindings/_openssl.so: undefined symbol: EC_KEY_clear_flags

---

Fixed with:

[code]

Will investigate further. Either will specify dependency or add note in README. (Don't know enough about this yet)

[2016-01-18 05:23] tulpn opened #68 "pip openssl error"
Hi everyone,

I have just installed pusher via pip and it seems that it brakes my pip. From what I have understood is that is a concern between openssl urllib3 and requests.

However, I am not sure how to fix it.

Here my console output.
[code]

Which leaves me with:
[code]

I am using Python 2.7. The project I am working with is a Django project and all code with Pusher was executed fine. But sin

[2016-01-18 05:36] tulpn commented on #68
Not quite sure, what happened. But I deleted my virtualenv, created a new one. Installed urllib3 then openssl and then the others and lastly pusher. Everything worked fine!

[2016-01-18 05:36] #68 closed

[2016-01-18 10:41] zimbatm commented on #68
Good that you figured it out. SSL has always been a big source of errors for me in various languages. Maybe OpenSSL got an upgrade and it couldn't dynamically link the library anymore (and thus inject the right constants).

[2016-02-01 04:26] borfast opened #69 "Channel subscription?"
Would it be possible to subscribe to channels with this Python library? Especially without having to provide my secret key?

I have a Raspberry Pi where I want to receive Pusher events in a Python program but it seems impossible to do so.

I've been using [this library](https://github.com/ekulyk/PythonPusherClient) but it seems to have some serious problems. For example, the client (apparently) ra

[2016-02-03 07:15] eyalmy commented on #64
The solution offered here does no longer work.
Is there any up-to-date solution?

[2016-02-07 16:32] MatthiasLohr commented on #65
Not for me. I still have this issue, which versions do yo use?

[2016-02-07 17:21] MadSpindel commented on #65
I use:
[code]

I don't remember if I did something more to fix this error.

[2016-02-15 15:47] jbreuer95 opened #70 "Django 1.9: ImportError or AttributeError"
When i do:

[code]

I get:
`AttributeError: 'module' object has no attribute 'Pusher'`

When i do:
[code]
I get:
`ImportError: cannot import name Pusher`

[2016-02-15 22:53] jpatel531 commented on #70
Hey there - which versions of Python and the library are you using? What's the name of the file you're running Pusher in? Can you make sure it's not `pusher.py`?

[2016-02-15 23:53] jbreuer95 commented on #70
Python 2.7.11
Pusher 1.20
views.py in my Django app

[2016-02-16 13:30] jbreuer95 commented on #70
My bad! Called my Django project pusher xD

[2016-02-16 13:41] #70 closed

[2016-02-16 13:42] jpatel531 commented on #70
Glad to hear it :)

[2016-03-02 17:31] diegopau opened #71 "Shouldn't users_info also return the "user_info" data inside "custom_data" dict?"
I am trying to retrieve information of the users currently online in a chat room (users subscribed to a pusher channel).

When a user subscribes to the channel the following info is sent to pusher from the Django server:

channel_data
[code]

I was expecting to be able to retrieve this data, also from my Django server. But the only method I see in this library is Pusher::users_info which only seem

[2016-03-03 14:58] topliceanu commented on #71
hi @diegopau

Are you still experiencing this error?

This error coincides with some issues we had on the service. See https://status.pusher.com/incidents/368yzqsk13xy

[2016-03-03 15:49] diegopau commented on #71
It is not related with this. I don't consider this an error, I am just asking about the implementation of both Pusher protocol and the python library. Can you confirm me if there is a way to retrieve the "user_info" dictionary, inside "custom_data" of each subscribed user in a presence channel? I am only able to retrieve the "user_id" field inside "custom_data" using Pusher::users_info, but not wh

[2016-03-04 14:50] topliceanu commented on #71
Hi @diegopau

No, it only returns the user ids. It's contacting this endpoint https://pusher.com/docs/rest_api#method-get-users

The idea is that you attach custom data to the user when you authenticate him/her so that it's visible on the client-side. It is assumed that you already have this data store on the server side.

I hope that helps,
Alex

[2016-03-04 15:42] diegopau commented on #71
@topliceanu thanks for the info. Makes sense, I am using now the user_id to get the rest of the data on the server side. I assume then that the custom data can be retrieved with any of the client libraries available.
I am closing the issue as it all seems clear now!

[2016-03-04 15:42] #71 closed

[2016-03-05 19:03] topliceanu commented on #71
@diegopau Yes, at the very least the user data is available on all supported client libraries, I'm not sure about the others. You can see a list of pusher libs here: https://pusher.com/docs/libraries

[2016-03-09 09:27] edwardotis commented on #64
@eyalmy I ran into this problem today. I followed https://coderanger.net/heroku-cffi/, and when I added, cryptography==1.2.3, my deploy to heroku was fixed.  (using python 3.5.1)

[2016-03-22 15:48] james-hoegerl commented on #65
Any luck @MatthiasLohr? Struggling with this in a deployment package for AWS Lambda.

[2016-03-23 00:12] james-hoegerl opened #72 "ImportError No module named ndg.httpsclient.ssl_peer_verification"
After installing pusher into a specific folder with `sudo pip install -t directory pusher`

I try a basic trigger to my app and get this.

[2016-03-25 20:54] #72 closed

[2016-03-30 07:35] MatthiasLohr commented on #65
@james-hoegerl, not for this special case, sorry.

But i solved a similar problem with the requests module by downgrading requests to a lower version. More a workaround than a solution, i know... :(

[2016-04-04 15:41] rafaelafonso commented on #65
@MatthiasLohr I have found the same error (trying to make it work with GAE) and I fixed it creating an empty __init__.py on /ndg folder. Maybe you want to give it a try ;)

[2016-04-04 15:51] james-hoegerl commented on #65
Wow you just made my month.

Ran into this now though.

[code]

[2016-04-04 15:55] MatthiasLohr commented on #65
@james-hoegerl you have to install the libssl package from your distribution.

[2016-04-04 21:35] james-hoegerl commented on #65
Thanks for the help. Sorry I'm a bit new. That's not a python package but a C library? If it's not installed on the Lambda service it seems I may be out of luck.

[2016-04-19 13:29] ABewsher commented on #65
Hi.

I had the initial issue and adding the __init__.py file fixed that problem.  I then encountered the second problem where I could not open the shared object files.  The issue then was that I am developing on a Mac, but the Lambda is going to be running on AWS running Amazon Linux.  I needed to log into my EC2 instance and do pip install ... from there.  Then copy the files from there to my loc

[2016-04-19 13:44] james-hoegerl commented on #65
Man I had that error at one point and I can't remember what fixed it. I did get mine running by using an Amazon Linux instance to create the distro. Man lemme look back at mine and see. I wanna say you need to yum install another package. Or make sure when you do install the cryptography package nothing is failing. I'll check and get back to you.

[2016-04-19 13:57] ABewsher commented on #65
Woot!  Fixed it.

When I'm making the zip, I needed to include the contents of the dist-packages directories from both _lib_ and _lib64_ !

Now it's not complaining about modules .. just bugs in my code :-P

Thanks for your help.  The steps in this thread were the answer.

I also got inspiration by looking in the scripts in this repository https://github.com/snowflakedb/examples/tree/master/lambda

[2016-04-19 14:00] james-hoegerl commented on #65
Awesome glad you got it.

On Tue, Apr 19, 2016 at 8:57 AM ABewsher <notifications@github.com> wrote:

[2016-05-12 19:48] nullco commented on #25
This commit is not reflected when installing pusher via pip

pip install pusher==0.8
cat /usr/local/lib/python2.7/dist-packages/pusher/__init__.py

result:
...
class TornadoChannel(Channel):
    def trigger(self, event, data={}, socket_id=None, callback=None):
        self.callback = callback
        return super(TornadoChannel, self).trigger(event, data, socket_id)

    def send_request(self, sig

[2016-05-12 21:29] nullco opened #73 "tornado_channel still broken in branch 0.8"
Hey folks, it seems that the fix that resolves the tornado channel issue isnt reflected when installing version 0.8 via PIP

pip install pusher==0.8
cat /usr/local/lib/python2.7/dist-packages/pusher/init.py

result:

[code]

If its compared to what its actually in github, it differs

[code]

As i see, it just needs to be pushed to the PIP repos

[2016-06-22 21:59] tulpn opened #75 "Unreliable channel_info method - connection pool URL changes"
I have the following problem:

[code]

I am running:
Django 1.8.4,
python 2.7
virtualenv.

The code is executed in a WSGI instance from Apache.

Pip (8.1.2) Info:
pusher==1.3.0
ndg-httpsclient==0.4.1
pyOpenSSL==16.0.0
six==1.10.0
pyasn1==0.1.9
requests==2.10.0
urllib3==1.16

The source code I am executing is where the exception is thrown and handled by myself:

[code]

[code]

I have a Class Based

[2016-06-28 18:44] andres-torres-marroquin opened #76 "Add support for Python 3 to the setup.py file"
I used caniusepython3 on one of my projects, and it said that pusher is not ready for Python 3, but looks like it is. My guess is that the setup.py file is not up to date.

[2016-07-04 15:21] wieczorek1990 commented on #66
What was the problem?

[2016-07-04 22:10] #75 closed

[2016-07-06 14:43] IshaanChawla commented on #66
I really don't remember now, what the problem was. Must have been some naive error I would have been making. Thank You for asking Though

[2016-12-19 11:34] iurisilvio opened #86 "About semantic versioning and backward compatibility"
The version 1.6 is not backwards compatible with 1.5. Now, all configuration is hidden inside a `_pusher_client` object. It happened in commit 2e71da394ef5b5d02e933b47aecf35a36de31a27.

For example, I use `pusher.key` in Flask-Pusher package and it failed with 1.6+. I had to make a workaround to fix all my tests and probably you can use the same solution to make it compatible. https://github.com/i

[2017-04-18 17:26] sandys opened #88 "issue with gevent monkeypatching on python > 3.4"
from http://www.gevent.org/gevent.monkey.html

On python 3.6, if i use gevent monkey-patching ("patch_all"), I start to get following errors on `pusher.trigger('ssssss', 'client-message', event)`

really need help on this

[2017-04-24 02:12] kangaroosterussave opened #89 "Timeouts using Push Notification feature"
Calling the Pusher notify method **often** (but not always) results in a timeout.

For example doing something like:

Results in:

Any ideas?

[2017-04-24 02:25] kangaroosterus commented on #89
Also, when I set the timeout to a large enough number (ie. timeout=60),
 I'm getting HTTP Service Unavailable status code:

[2017-04-24 08:34] vivangkumar commented on #89
@kangaroosterus Hi there!

We're investigating availability issues with the Push Notification API. A fix is currently being developed and should hopefully resolve these issues soon.

Apologies for any inconvenience.

[2017-04-25 00:47] hackerunet opened #91 "Error installing pusher with pip in debian 8 with python 2.7.9"
Hello, I have issues installing pusher with pip, when I did pip install pusher I got this:
[code]

And when I try to use it I got this error:
[code]
After seeing this I try easy_install cryptography and it installed more packages but then when I run the program again I got this:
[code]

Please help.

[2017-04-25 01:44] hackerunet commented on #91
This is the last error I found on pip.log after uninstalling all packages and trying to reinstall pusher only.
[code]

[2017-05-02 13:11] hot-leaf-juice commented on #88
Hi there,

I'm having trouble reproducing this, the following file works absolutely fine with python 3.6.1 for me.

[code]

Could you try and run the above snippet, and if you are still encountering the error, could I take a look at your installed libraries? (The output of `pip3 list`.)

Cheers.

[2017-05-02 13:18] sandys commented on #88
Hi Callum,
Thanks for looking into this !

Most of the time this is run through gunicorn as a web server. I'm not even
sure you can trigger this without this - because gevent+gunicorn will fork
greenlets to run the code.

Regards
Sandeep

On May 2, 2017 18:41, "Callum Oakley" <notifications@github.com> wrote:

Hi there,

I'm having trouble reproducing this, the following file works absolutely
fine

[2017-05-02 13:22] hot-leaf-juice commented on #88
Hi Sandeep,

I see! Apologies, I'm not very familiar with gevent so wasn't really sure what would be required to reproduce. I'll try and take a closer look in to this later today. Thanks for the extra information.

Best,
Callum

[2017-05-02 14:03] sandys commented on #88
hi callum,
thanks for looking into this. Really appreciate this.

wanted to point out some relevant links that may be helpful to you -

https://github.com/shazow/urllib3/pull/1105
https://github.com/shazow/urllib3/pull/1128
https://github.com/kennethreitz/requests/issues/3831
https://github.com/shazow/urllib3/issues/1104 (though is python 2.7)
https://github.com/miguelgrinberg/Flask-SocketIO/issue

[2017-05-02 14:25] hot-leaf-juice commented on #88
Hi Sandeep,

Thanks for the links. I may however still be missing something fundamental... would it be possible for you to provide us with a complete minimal project that reproduces this issue? At the moment I'm running the following file

[code]

with command `gunicorn -k gevent -w 4 main:app`, and all is working well.

Best,
Callum

[2017-05-12 13:41] hot-leaf-juice commented on #35
Closing as probably no longer relevant. (Feel free to reopen if not!)

[2017-05-12 13:41] #35 closed

[2017-05-12 13:45] hot-leaf-juice commented on #54
Closing since this looks like it was more or less solved, and hasn't seen any activity in a long time. Feel free to reopen with more details if still relevant.

[2017-05-12 13:45] #54 closed

[2017-05-12 13:50] hot-leaf-juice commented on #69
This is an old issue, but for the sake of reference:

Pusher libraries are split in to two types: http libraries for triggering, authenticating private channels, webhooks etc. and websocket libraries for subscribing to channels and listening to events. There are no current plans for an official python websocket library, or to build that functionality in to this library, though people have certainl

[2017-05-12 13:50] #69 closed

[2017-05-12 13:52] borfast commented on #69
OK, fair enough.

Could you say why?

And thanks for replying even after all this time :)

[2017-05-12 14:02] hot-leaf-juice commented on #69
No worries – sorry it took so long! I've just inherited this library and thought I'd do some spring cleaning. :)

There just aren't enough people who need a python websocket library for us to justify the resources that would be required to write one. As far as receiving pusher events on the Raspberry Pi goes, the recommended route is to run [the node build of pusher-js](https://github.com/pusher/p

[2017-05-12 14:24] hot-leaf-juice commented on #76
#90 should fix this. Will be in the next release.

[2017-05-12 14:24] #76 closed

[2017-05-12 14:52] hot-leaf-juice commented on #91
This looks like it could be related to #67? Do you have any luck trying different versions of pyopenssl?

[2017-05-17 10:35] hot-leaf-juice commented on #89
@kangaroosterus Are you still seeing these timeouts? We've made some changes to the backend which should hopefully have improved the situation.

[2017-05-17 16:45] sandys opened #92 "'Connection aborted.' errors with python 3.6.1"
hi guys,
I'm seeing intermittent 'Connection aborted.' errors with python 3.6.1 . the line of code that causes this is
`
pusher.trigger('private-oms', 'client-message', event)`

ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',))

This doesnt happen all the time, but at high rates of call.. it happens pretty frequently.

Not sure, but poss

[2017-05-18 09:24] hot-leaf-juice commented on #92
Hi @sandys,

We've not seen this before, it does look like it could well be related to [kennethreitz/requests#3458](https://github.com/kennethreitz/requests/issues/3458)... Could we see the full error message and traceback to see if we can make any sense of it? What's your stack like, do you have the same kind of reproduction steps as in that issue?

Finally, are you seeing the event successfully

[2017-05-18 09:27] sandys commented on #92
hi @hot-leaf-juice ,
thanks for replying. I have filed a separate Pusher issue with detailed trace log (as we got them from sentry). Our stack is flask, python 3.6.1, gunicorn (tried with both gevent and sync) running on google cloud.
we are unable to reproduce it consistently - this happens intermittently. we have been using pusher for a long time, but this is the first time i have tried this out

[2017-05-18 14:32] hot-leaf-juice commented on #92
So you did! Thanks for that, I've got the trace.

It does look like you may well be experiencing the same issue, is looks like the connection is probably being closed prematurely by some proxy between your servers and ours. If this is the case then it's unfortunately largely out of our hands.

If you could find out if events are successfully triggered or not that would be great. If they go through

[2017-05-18 14:35] sandys commented on #92
hi @hot-leaf-juice
i dont have any proxy between your servers and ours.  i mean these are outgoing requests. we do deploy on docker (always have, even on python 27).

nothing else changed - i mean these are new servers on google cloud (obviously) and latest docker release and latest debian, etc.

but my honest opinion is that it is related to the requests thing. it would be nice if there was some

[2017-06-15 20:21] deepeshk79 commented on #70
Have the same error in Python Flask..
`import pusher

pusher_client = pusher.Pusher(
  app_id='appid',
  key='keyhere',
  secret='##',
  cluster='ap2',
  ssl=True
)

pusher_client.trigger('my-channel', 'my-event', {'message': 'hello world'})`

pusher_client = pusher.Pusher(
AttributeError: 'module' object has no attribute 'Pusher'

This is the same code in sample, why is this failing ?

[2017-06-16 10:15] deepeshk79 commented on #70
Nope its viewmyapp.py

[2017-06-16 11:02] leesio commented on #70
It certainly looks like `pusher` is being overwritten by something else. Is there a `pusher.py` or a `pusher.pyc` in the same directory as your application? What happens when you `print(pusher)` after importing?

[2017-06-16 12:45] deepeshk79 commented on #70
yes just noticed there is a pusher.pyc in the same directory, not sure how that got created... how does it impact ? Should i move my viewmyapp.py to a diff directory ?

[2017-06-16 13:14] deepeshk79 commented on #70
The print(pusher)

<module 'pusher' from '/Users/deepesh/Desktop/flaskapp/pusher.pyc'>

[2017-06-16 13:33] leesio commented on #70
Basically your application will import the `pusher.pyc` file instead of the actual `pusher` library.
As you can see from the `print` 😊

You should be safe to remove the `pusher.pyc` file.

[2017-06-16 13:50] deepeshk79 commented on #70
cool that fixed the issue, but then it failed for cryptography pkg, installed it and now it fails for pyOpenSSL, trying to fix that..

[2017-06-19 03:26] popbones opened #94 "notification client does not respect json_encoder settings"
Currently when calling the notify method on a pusher client with custom JSON encoder specified, that `json_encoder` is not used by the underlying `notification_client`, which is pretty inconvenient.

[2017-06-19 18:57] intellimindZ opened #95 "Pusher object creation fails"
I used pusher library under python versions 2.7.6, 2.7.9 and 2.7.13. While executing following code, it generates following error within python/flask application.

from pusher import Pusher
pusher = Pusher(app_id=app_id, key=key, secret=secret, ssl=True)

After performing following steps, it didn't help.

1. Install pyopenssl 0.14
pip install pyOpenSSL==0.14.

2. Removed ssl=True argument
Pusher(a

[2017-06-20 16:18] hot-leaf-juice commented on #95
Can we see the full stacktrace to see if we can get a better idea where the problem might be? What OS are you running? pyopenssl seems to cause a lot of these kinds of problems... https://github.com/certbot/certbot/issues/4514

[2017-06-20 17:15] hot-leaf-juice commented on #94
The `json_encoder` is used when triggering events to encode the payload of each event as a string, which is then sent in the json body of the request itself. Only this payload is encoded by the `json_encoder`. For example, if we `.trigger("c", "e", { "foo": "bar" })` then the json of the request is

[code]

Note that `data` is just a string – this is the only bit that gets touched by the `json_enc

[2017-06-22 20:01] intellimind commented on #95
For now, I could resolve this issue by removing older version of pyopenssl on ubuntu 14.04

[2017-07-11 14:49] samuelyallop-pusher opened #96 "References exist to webhook_level which has been removed"
See title.

[2017-07-11 15:19] #96 closed

[2017-07-14 03:37] zlwolf236 opened #98 "Trying to call order_book but failed"
I'm trying to call the orderbook using the code below

[code]

However, i received the error of these things, can somebody explain this to me? Very much appreciated! Thank you (I believe sensitive code were removed)

[code]

During handling of the above exception, another exception occurred:

[code]

During handling of the above exception, another exception occurred:

[code]

During handling of th

[2017-07-14 06:06] zlwolf236 opened #99 "How can I stream Bitstamp's websocket?"
I just couldn't figure out how to hook myself to bitstamp's websocket. Please help and it will be very very much appreciated! Thank You

https://www.bitstamp.net/websocket/

[2017-07-18 14:20] tySwift93 commented on #89
I am seeing timeout exceptions like this:
[code]

[2017-07-18 15:27] hot-leaf-juice commented on #98
I'm not immediately sure what's going on here. Is `BitPusher` a normal pusher object? Can you successfully subscribe and / or trigger events to standard pusher channels using the quick start snippets from the dashboard?

[2017-07-18 15:33] hot-leaf-juice commented on #99
Pusher libraries are either "http" or "websocket". This is a http library, so you can use it to trigger events and authenticate private channels, but you can't use it to subscribe to websockets. For a list of our websocket libraries [see here](https://pusher.com/docs/libraries#official-client-libraries).

[2017-07-18 15:33] #99 closed

[2017-07-18 15:37] hot-leaf-juice commented on #89
Hi @tySwift93, we were experiencing some issues earlier today that could have caused this – though they should be resolved now. Are you still seeing the timeouts?

[2017-07-18 16:55] tySwift93 commented on #89
Not anymore, thank you

[2017-08-30 10:53] pedromlsreis commented on #92
I was getting the same error running h2o-py locally, with Python 3.5 and the latest stable version of h2o.

I was using a `for` cycle to do the following:
[code]
**H2OConnectionError**

So, I fixed it by **changing the h2o.init()'s port** everytime:
[code]

Hope I've helped.
Pedro

[2017-09-20 13:13] amackera commented on #23
I'm still seeing this error, with pusher 1.7.2.

Stack Trace:
[code]

[2017-09-25 13:13] hot-leaf-juice commented on #23
@amackera What is the content of the `ConnectionError`, and what version of Python are you using? Looks like it might be related to [this issue](https://github.com/requests/requests/issues/2364), in which case we would need to do some more digging to see why the connection is being closed early. How often is this happening and do you have a reliable way to reproduce?

In the meantime you should sa

[2017-10-11 12:40] silver2row commented on #91
Hello...

See here: sudo apt-get install build-essential libssl-dev libffi-dev python-dev

Use those dependencies. That should do the trick. Debian does not come with them already installed.

Seth

[2017-11-13 03:08] exitcomestothis commented on #69
borfast - What service did you end up going with?

We've ran into the exact same scenario with Pusher and Python on rPi. I have to say, this is quite disappointing, as Pusher (was) a terrific fit for us, and using a 3rd party library isn't an option for us.

[2017-11-13 10:22] hugoamvieira commented on #69
Hello,

We have a community supported Python client side library you can use [here](https://pusher.com/docs/libraries#community-py)

[2017-11-13 17:43] borfast commented on #69
@exitcomestothis, I believe it was either [Fanout](https://fanout.io/) or [Google Cloud Pub/Sub](https://cloud.google.com/pubsub/). Can't recall for sure.

[2017-11-14 13:04] taboca opened #101 "How to listen to events from channels"
Apologies if I am not using proper wording but I am mainly comparing wording and architecture of documentation from different Pusher lib projects.

The case I refer is the use case entitled as "Subscribing to channels" available at [Pusher Java Client # Subscribing to Channels](https://github.com/pusher/pusher-websocket-java#subscribing-to-channels).

I wonder if such use case is also available fo

[2017-11-14 13:15] hot-leaf-juice commented on #101
Hi @taboca, please see #69.

[2017-11-14 13:15] #101 closed

[2017-11-14 13:31] taboca commented on #101
I see, the *server* function is a pushing system and the client is actual a subscriber, in the pusher terms. Quite odd, I would normally think, that priority is not for Client Python library. The other person, at #69 perhaps have a point "how do you know for sure you are not missing a ton of customers because you don't support websockets in Python?", but of course only Pusher employees are totally

[2017-11-14 16:46] hot-leaf-juice commented on #101
@taboca That's spot on :)

It might be worth checking out [this community python client library](https://github.com/nlsdfnbch/Pysher).

[2018-01-23 21:21] zdexter opened #106 "AsyncIOBackend throws error on aiohttp 2.3.9"
[code]

more info: https://stackoverflow.com/questions/34971826/a-python-crawler-not-work-for-asyncio

probable solution: `yield from response.text()` instead of `yield from response.read_and_close()`.

[2018-01-24 11:04] hot-leaf-juice commented on #106
Thanks for reporting this @zdexter! Got a fix pending in #107

[2018-01-24 16:17] #106 closed

[2018-01-29 15:51] zdexter opened #108 "AsyncIOBackend logs 'unclosed client session' error on each trigger()"
`pusher==1.7.3` and `aiohttp==2.3.9`

`pusher.trigger` any message, and you'll see the following error if you have logging enabled (this is reported as an error level event to any attached tracing software etc, so it generates a lot of spam):

[code]

[2018-01-29 16:05] zdexter commented on #108
the logger that generates this error is the `asyncio` logger.

[2018-01-29 16:10] zdexter commented on #108
https://github.com/aio-libs/aiohttp/issues/1175

[2018-02-02 14:05] hot-leaf-juice commented on #108
Hi @zdexter 👋

Sorry for the delay getting back to you on this. Thanks for the report and the link to the relevant issue upstream. I think this should do the trick #109 . Will aim to get this merged and a new version released asap.

[2018-02-05 10:13] hot-leaf-juice commented on #108
Should be fixed in 1.7.4 :)

[2018-02-05 10:13] #108 closed

[2018-02-05 16:59] zdexter commented on #108
thanks!

[2018-02-28 22:45] TheKevJames commented on #23
I am also seeing this error with both:
- python 2.7.14 (from docker image `python:2.7-slim`), and
- python 2.7.12 (from docker image `ubuntu:16.04` after an `apt-get install python`)

Relevant python libs:
[code]

This has occurred on several different servers running one of two potential docker images (python versions described above, python package versions are identical).

This error occurs ver

[2018-05-01 19:44] robinCantelli opened #111 "Getting Data from Bitstamp"
I hope that you can help me because I'm getting kind of frustrated because of my incompetence;)

I want to get websocket data  from bitstamp to work with it. What I usually did was getting for example price data like ' bitStampTick = requests.get('https://www.bitstamp.net/api/v2/order_book/xrpeur')' and then did my calculations with the data. I put it in a loop so it kind of refreshes the data fro

[2018-05-02 11:06] WillSewell commented on #111
This library is only for interacting with the Pusher HTTP API. To interact with the Pusher WebSockets API, you should use a Pusher client library, e.g. https://github.com/nlsdfnbch/Pysher. I hope that helps!

[2018-05-02 11:06] #111 closed

[2018-05-24 22:05] EsauPR commented on #23
I also have this error

Python 2.7
Pusher 2.0.0

The error is raised when I trigger a events throught the **trigger_batch** method.
The ratelimit is under 10 calls per second (https://pusher.com/docs/client_api_guide/client_events), I don't know if this apply for the server side.

[code]

[2018-05-25 10:27] WillSewell commented on #23
Reading [this thread](https://github.com/requests/requests/issues/2642), it looks like this error could be caused by a number of reasons. Are you your requests going through a proxy server? The fact it only happens with the `trigger_batch` method might mean that an HTTP proxy might not be handling larger requests properly.

Are you tracking these failure over time? E.g. graphing them? It would be

[2018-05-25 17:19] EsauPR commented on #23
Cause the number of messages are too many (300 messages per minute) within a very short time we use the trigger_batch method. The error is raised around every hour although the last logs show a long time between each error.

Here the question. If the number of messages to send are to many, Send the messages by http is the correct way? or Is better to create a single connection using a websocket? I

[2018-05-30 10:32] WillSewell commented on #23
The fact that the errors tend to happen every hour makes me think that it's not due to Pusher HTTP server restarts because these happen much less frequently. The fact that you only see this for trigger_batch also backs this up.

Yes this is the recommended approach.

Which HTTP client library backend are you using with pusher-http-python? If you are using the latest version of requests, then it sh

[2018-06-09 01:49] EsauPR commented on #23
Hi there,

We are using requests as backend library. After implementing the suggested changes (using a regular trigger) the error happens more frequently. So we decide to migrate our app to python 3 and with this change the error is diferent.

('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',))

Python and library versions:

Python docker: 3.6
pusher: 2.0.

[2018-06-21 13:42] WillSewell commented on #23
I wonder if it is caused by this issue: https://github.com/requests/requests/issues/4664

It might be worth trying to reproduce it by running this script for a while:

[code]

Can you work out the rate you are publishing when you experience the highest rate of these errors and try and tweak the rate the script publishes at to match it?

[2018-06-21 13:42] WillSewell commented on #23
I wonder if it is caused by this issue: https://github.com/requests/requests/issues/4664

It might be worth trying to reproduce it by running this script for a while:

[code]

Can you work out the rate you are publishing when you experience the highest rate of these errors and try and tweak the rate the script publishes at to match it?

[2018-06-27 20:29] MidoCobra commented on #70
i have the same problem .. python 3.6 ..
and i haven any pusher. files in my app ..
need some help please

[2018-07-04 13:16] WillSewell commented on #70
@MidoCobra Could you send the complete code and steps to reproduce the problem?

[2018-07-13 16:40] EsauPR commented on #23
I try to reproduce the issue running the script for several hours I even removed the line for the sleep unsuccessfully. Looking in the logs for the lurllib3 versions used when the issue was present

[2018-07-13 22:17] TheKevJames commented on #23
Hmm still seeing this error with:
[code]

Interestingly we **do not see this error under python 3.5.2** either under `pusher==1.7.2` or under `pusher==2.0.1`.

[2018-07-16 16:37] #52 closed

[2018-07-16 16:38] WillSewell commented on #67
Not sure how to reproduce. Closing for now. Feel free to re-open if anyone experience this again.

[2018-07-16 16:38] #67 closed

[2018-07-16 16:52] WillSewell commented on #91
I've added a note to install OpenSSL on linux in https://github.com/pusher/pusher-http-python/commit/069d112056f1581f0b7c804aead746119d807380

[2018-07-16 16:52] #91 closed

[2018-07-16 16:53] WillSewell commented on #86
Thanks for making us aware of this. Currently we are following semantic versioning; unfortunately we can't go back and change the past 😕

[2018-07-16 16:53] #86 closed

[2018-07-16 16:55] WillSewell commented on #88
Closing because there has been no example provided that reproduces the issue. Please re-open if you can provide this.

[2018-07-16 16:55] #88 closed

[2018-07-16 16:57] WillSewell commented on #92
This is a duplicate of https://github.com/pusher/pusher-http-python/issues/23, the error messages are just a bit different in different versions.

[2018-07-16 16:57] WillSewell commented on #89
Closing because it appears this issue was resolved, and we are deprecating Push Notifications support in this library anyway.

[2018-07-16 16:57] #89 closed

[2018-07-16 16:59] WillSewell commented on #94
Closing because I think @callum-oakley's response explains the current state well, and there has been no more discussion.

[2018-07-16 16:59] #94 closed

[2018-07-16 17:00] WillSewell commented on #95
Closing because there is no "fix" for us to make in the library. It's up to the users to resolve their dependencies in this case.

[2018-07-16 17:00] #95 closed

[2018-07-16 17:01] WillSewell commented on #98
Closing due to lack of response. Feel free to re-open if you can provide us with more information.

[2018-07-16 17:01] #98 closed

[2018-08-03 16:12] WillSewell commented on #73
Thanks for reporting this. I'm closing this issue due to the library now being many versions ahead.

[2018-08-03 16:12] #73 closed

[2018-08-25 18:46] zdexter opened #115 "Tornado backend does not work with Tornado 5.x"
https://github.com/tornadoweb/tornado/blob/f6e98e279bf78d2984351062906eb100a7303c35/docs/releases/v5.0.0.rst#tornadoconcurrent

[code]

[2018-08-25 18:49] zdexter commented on #115
looks like the solution is to use `tornado.current.Future`:

[code]

http://www.tornadoweb.org/en/stable/_modules/tornado/concurrent.html

[2018-08-29 16:13] WillSewell commented on #115
Thanks for reporting this. Tornado 4.0 was released over 4 years ago now. I think we can drop support for earlier versions at this point. I'll create a PR to switch to `tornado.concurrent.Future`.

[2018-09-14 18:31] michaelperret opened #118 "Traceback (PusherBadStatus: 599) under heavy load in Tornado library"
Any ideas as to what may be the root cause here? We aren't seeing any other error logs or issues and this traceback isn't super informative

[code]

env: Python 2.7, Tornado 4.3, Pusher 1.7.4

[2018-10-24 15:05] agronholm opened #121 "AsyncIO backend does not process the HTTP response"
The backend imports `process_response` but never uses it. As such, it will never detect any bad HTTP responses.

[2018-11-02 16:57] #121 closed

[2018-11-02 17:14] WillSewell commented on #118
This means you received an HTTP error code https://httpstatuses.com/599. Are your requests going through a forward proxy by any chance?

[2018-11-02 17:32] #115 closed

[2018-11-05 11:38] agronholm commented on #121
Thanks! Would you like me to also add the possibility to pass options to the aiohttp session? I used this method myself to add proxy support (`trust_env=True`) to the asyncio backend.

[2018-11-05 13:11] WillSewell commented on #121
Yes that does sound useful! Could you show a code snippet of how this would be configured from the users point of view?

[2018-11-06 15:39] agronholm commented on #121
Something along the lines of:
[code]

[2018-11-06 15:41] agronholm commented on #121
Alternatively, something like `allow_proxies=True` might be simpler. It might also be fine to add that option by default since the default backend already respects the standard proxy env variables.

[2018-11-14 12:02] WillSewell commented on #118
For the record, we believe this is due to an underlying issue in the tornado library: https://github.com/tornadoweb/tornado/issues/1753

[2018-11-27 10:33] jameshfisher opened #123 "Allow setting connection_timeout and max_clients options for tornado backend"

[2018-11-27 10:34] jameshfisher opened #124 "If tornado backend returns 599 status, we should raise an exception"

[2018-12-05 10:45] WillSewell commented on #124
This comment makes it look like an exception _is_ raised: https://github.com/pusher/pusher-http-python/issues/118#issue-360409787

[2018-12-13 11:09] #123 closed

[2018-12-13 12:30] TheKevJames opened #128 "Pusher 2.1.0 is missing `pynacl` dependency"
The latest release pushed to PyPI seems to be throwing errors on import. I assume [pynacl](https://github.com/pyca/pynacl) should be added to the project dependencies:

[code]

/cc @damdo and @WillSewell

[2018-12-13 13:07] damdo commented on #128
Thank you for reporting this problem, we fixed that and released a new version. To ensure you get the latest version you can install it via: `pip install --no-cache-dir pusher`

[2018-12-13 13:07] #128 closed

[2018-12-21 23:18] laeos opened #132 "notification_client not passing encryption_master_key to super initializer"
`Client` has a new parameter, encryption_master_key, `NotificationClient` is not updated to pass it around. This causes problems, especially if you pass in a custom `json_encoder`.

[code]

[code]

[2019-01-02 11:31] #132 closed

[2019-01-29 12:01] WillSewell commented on #124
Please re-open if you can provide more detail.

[2019-01-29 12:01] #124 closed

[2019-01-29 14:39] Tomcat-Engineering opened #135 "Collections DeprecationWarning in Python 3.7"
I know you don't actually claim to support Python 3.7, but just thought I should log that it gives me this warning:

[code]

[2019-02-26 15:31] WillSewell commented on #135
Fixed in: https://github.com/pusher/pusher-http-python/pull/137

[2019-02-26 15:31] #135 closed

[2019-04-26 09:45] ibohonos opened #141 "ImportError: No module named _sodium"
ImportError: No module named _sodium
If i load app in localhost, all worked.
But if i run on server from apache try this error.
System: Ubuntu 18.10
Python: 3.6.7
pip 9.0.1 from /home/sites/web/matcha.vuetube.top/private/venv/lib/python3.6/site-packages (python 3.6)
Log:
[code]

[2019-04-29 08:59] kn100 commented on #141
It sounds like the underlying system library is missing. Assuming your server runs Ubuntu, try running `sudo apt-get install libsodium23` on the server in question :)

[2019-05-02 07:17] ibohonos commented on #141
Server in Ubuntu, but this library is installed.

[2019-05-03 13:01] WillSewell commented on #141
Unfortunately I am unable to reproduce this issue with the following Dockerfile

[code]

And then running

[code]

It looks like the error is due to a failing internal import in the PyNaCl library. This seems odd. I would try reinstalling the library to see if that helps.

I'll close this issue as I am unable to reproduce it, so I cannot be of much help. If you are able to send a reproducible exam

[2019-05-03 13:01] #141 closed

[2019-05-13 12:53] dpinol opened #142 "specify urllib3 version requirement in setup.py"
Hi,
I've seen that requirement.txt has "urllib3==1.24" (as many other libraries, eg. requests) which forbid version 1.25). But setup.py does not contain any version specification for urllib3.
Can you add the requirement also in setup.py? Otherwise setup.py causes 1.25 to be installed, which conflicts with other libraries which forbid it

thanks

[2019-06-17 10:28] WillSewell commented on #23
@TheKevJames are you able to reproduce the issue with the script I posted in https://github.com/pusher/pusher-http-python/issues/23#issuecomment-399107976?

[2019-06-17 10:39] WillSewell commented on #142
Thanks for reporting this. It looks like `requests` dropped support for `urllib3==1.25` due to a security vulnerability https://github.com/kennethreitz/requests/issues/5065.

I don't want to pin to a specific version of `urllib3` in `setup.py` because users of this library should have as much flexibility as possible in terms of the versions of other dependencies they can use. However I'm happy to

[2019-06-17 10:55] WillSewell commented on #142
Thanks for letting us know about this.

I'd like to avoid pinning to a specific version of urllib3 in setup.py because ideally users of this library should have as much flexibility as possible in terms of the versions of other dependencies they can use. It's the responsibility of the user of the library and their package manager to install compatible versions.

The latest version of `urllib3` ([1.

[2019-06-17 10:55] #142 closed

[2019-06-19 00:01] TheKevJames commented on #23
We've since fully migrated off of Python 2.7, so this issue is no longer relevant to us.

If I'm reading my own messages correctly (wow, this is an old ticket!) it looks like Python 3.6 support seems to have gotten resolved sometime around early July, but Python 2.7 was still broken with `pusher==1.7.2` around then; since there have been a whole bunch of `pusher` updates since then, that'l likely

[2019-08-30 12:41] mirrormirage0 commented on #70
I faced the same issue.
I think its important to add to readme or even the sample code "Do not name your file as pusher.py"
And if you did, delete the pusher.pyc which gets created :)
Got it working now.

[2020-05-19 06:01] sailfish009 commented on #141
pip uninstall and re-install pynacl, solved the problem.

[2020-06-13 01:34] aaronn opened #161 "validate_webhook Isn't Working"
I believe `validate_webhook` may be broken:

[code]

This always returns `None` even if I copy and paste the key, signature, and data directly.

It is failing specifically on line `118` in `authentication_client.py`:

[code]

The signature appears to always be different than the one returned by `hmac.compare` in `signature.py`.

[2020-06-13 02:43] aaronn commented on #161
I'm using django-rest-framework and I had to use the raw `request.body` to fix this. json.dumps(request.data) does not work.

[2020-06-13 02:43] #161 closed

[2020-07-06 11:25] namnguyenbk commented on #92
hey guys, It still happens in pusher==2.1.4. @callum-oakley do you have any idea?

[2020-08-06 11:22] tirkarthi opened #163 "Deprecation warning due to invalid escape sequences"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

[code]

[2020-09-10 04:00] shyandsy commented on #23
it solved my problem using argument --no-sandbox

anyone explain why it is?

[code]

[2021-04-22 08:00] #163 closed

[2021-05-06 15:44] vinodg912 opened #173 "Error on app.py"
Im getting error when running command `flask run`
I cant make chat app
Please help

![Screenshot_2021-05-06-21-11-38-81](https://user-images.githubusercontent.com/45803904/117326826-aa9f2b80-aeaf-11eb-90de-adc455067233.jpg)

[2021-05-06 16:26] ben-pusher commented on #173
The error indicates an unexpected indent in your app. Have you confirmed the indentation of the code is correct?

[2021-05-07 04:11] vinodg912 commented on #173
I was copied all source code from your official website.
And I do not understand what went wrong.I have followed all the steps

[2021-05-07 08:17] ben-pusher commented on #173
Could you share the file? I suspect the code is correct but ,as the error states, there is an indent.

[2021-05-07 08:39] vinodg912 commented on #173
This is the source code. `cors = CORS(app)
    app.config['CORS_HEADERS'] = 'Content-Type'

    # configure pusher object
    pusher = pusher.Pusher(
   app_id = "pusher_key_hide for security"
key = "??"
secret = "??"
cluster = "??"
    ssl=True)

    @app.route('/')
    def index():
        return render_template('index.html')

    @app.route('/admin')
    def admin():
        return render_templ

[2021-05-07 08:43] vinodg912 commented on #173
This is the source code..

`// File : ./app.py

    from flask import Flask, render_template, request, jsonify, make_response, j>
    from flask_cors import CORS
    from pusher import pusher
    import simplejson

    app = Flask(__name__)
    cors = CORS(app)
    app.config['CORS_HEADERS'] = 'Content-Type'

    # configure pusher object
    pusher = pusher.Pusher(
   app_id = "pusher_key hided f

[2021-05-07 15:50] ben-pusher commented on #173
It looks like the error has now changed. Reading the code you have shared and it seems there are a couple of errors. For example on line 1 you have shared:
`from flask import Flask, render_template, request, jsonify, make_response, j>`
The code in the tutorial is as follows:

from flask import Flask, render_template, request, jsonify, make_response, json

A similar error is present here:
`auth = p

[2021-05-07 15:50] #173 closed

[2021-05-07 15:51] ben-pusher commented on #173
If you require any further support please get in touch with us at https://support.pusher.com/hc/en-us/requests/new, we would like to reserve Github issues for bugs with the library.

[2021-06-16 12:53] #23 closed

[2021-06-16 12:54] #118 closed

[2021-12-04 21:18] ConfidenceYobo commented on #128
I am also having this issue with pusher v3.1.0

[2021-12-04 21:24] ConfidenceYobo opened #178 "Pusher 3.1.0 is showing No module named 'nacl'"
I have tried different versions but they all show the same error:
[code]

[2021-12-19 00:39] greenvilleassociates commented on #65
Actually the answer is....
https://pypi.org/project/ndg-httpsclient/
pip install ndg-httpsclient

[2022-03-06 00:18] ConfidenceYobo commented on #178
I was able to get it working on my alpine image, the issue was happening on both Ubuntu and Centos docker images.

[2022-03-06 00:18] #178 closed

[2022-09-09 13:06] ddhanak opened #185 "Bump pynacl version"
Hi,

We are currently building multi-architecture images of our internal project and we are using this library which has a dependency on [pynacl](https://github.com/pyca/pynacl).

The current version of PyNaCl is set to `1.3.0`. We were wondering if it was possible to bump this version to 1.5.0 which supports ARM64 (macOS).

Thanks!

[2022-09-09 13:30] benjamin-tang-pusher commented on #185
Hi,

If you install this with Pip, it should use the setup.py and not the requirements.txt to resolve its dependencies, and your project should end up with PyNaCl==1.5.0 . Are you installing with `pip install pusher` ?

I've tried touching the requirements.txt in the past and its quite outdated. For now I'm using `pip install .` if I'm working on the library itself.

[2022-09-20 10:15] benjamin-tang-pusher commented on #185
Please reopen if this is still an issue for you, I'm going to close this.

[2022-09-20 10:15] #185 closed

[2022-10-15 03:00] kailashchoudhary11 opened #188 "Refactor Code"
Using .format method or f strings will be better than using the % formatting for strings.

[2022-10-16 06:52] sonologico commented on #188
Thanks for the suggestion. You're right. It would indeed be better. I'll close this issue since it's not a bug. Feel free to send a PR if you have the time and we don't get to it before you do.

[2022-10-16 06:52] #188 closed

[2022-10-16 07:09] kailashchoudhary11 commented on #188
@sonologico  Should I use fstrings or .format cause fstrings isn't supported by python < 3.7 I guess.

[2022-10-16 07:15] sonologico commented on #188
`.format` is the one that is present in all the versions we support, so I would got for that.

[2022-11-10 04:16] imdigitalashish opened #192 "How do I bind to Requests"
Hey, I wanted to know, How can I bind to these requests in python... like we listen in js... how do we listen in the python side?

[2022-11-10 09:14] benw-pusher commented on #192
Channels libraries are divided into 2 categories:

Client
Client libraries predominantly consume messages using a [WebSocket interface](https://pusher.com/docs/channels/library_auth_reference/pusher-websockets-protocol). Think of them as subscribers , although it’s possible to publish messages using [Client Events](https://pusher.com/docs/channels/using_channels/events#triggering-client-events).
S

[2022-11-10 09:14] #192 closed

[2022-11-22 16:19] jamesrusso opened #193 "Lack of user-authentication methods?"
Is the lack of user authentication intentional for this library? Seems like the preferred method is now to use signin() method which would cause a POST to the user-auth endpoint (compared with just joining a private channel).

[2022-11-25 17:26] ysaunier opened #194 "Timeout type forced to be integer"
Hi team! 👋

Just a quick question: Why did you set a validation that the timeout type must be an integer? (cf. [your validation](https://github.com/pusher/pusher-http-python/blob/master/pusher/client.py#L63-L64)).
According to the `requests` documentation, the accepted type is a `float`. (cf. [the documentation](https://github.com/psf/requests/blob/main/requests/api.py#L32-L34)).

This is painful

[2022-11-25 20:12] edmundlam commented on #194
I wonder if we could also allow a tuple of numbers as well, since `requests` also allows it.

For example, a `timeout=(5, 27)` will set a connection timeout of 5 seconds, and a read timeout of 27 seconds. If you are open to this change, I'd be happy to adjust my PR to account for tuples.

Ref: https://requests.readthedocs.io/en/latest/user/advanced/#timeouts

[2022-11-28 14:20] ronlut commented on #193
@benjamin-tang-pusher @samuelyallop-pusher @benw-pusher
Same question here. Not sure what's the state with the new authentication flow in the client and our python server should be.
Thanks